---
const { title, subtitle, text, imgSrc } = Astro.props
---

<section 
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="black">

  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-gray-900 pt-14 text-[40px] font-medium">
        {title}
      </h2>
      <a class="text-gray-900 text-sm border-b-[1px] border-solid border-b-[black] hover:border-b-2">
        {subtitle}
      </a>
      <p class="text-sm">
        {text}
      </p>
    </header>

    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div class="flex gap-x-4 mx-auto">
        <a 
          class="border-[3px] border-gray-900 bg-gray-900 opacity-[80.0%] text-sm rounded font-medium text-white px-20 py-2 inline-block " 
          href="#">
          Order Now
        </a>
        <a 
          class="border-[3px] border-gray-200 bg-gray-200 opacity-[65.0%] text-sm rounded font-medium text-gray-900 px-20 py-2 inline-block " 
          href="#">
          Demo Drive
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10 ">
    <img 
      src={imgSrc}
      alt={title}
      class="h-full w-full object-cover object-center">
  </div>
  
</section>